<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research/research.html">Research</a></li>
	        		<li><a href="/people/people.html">People</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nmiller11@iit.edu">email</a></li>
	        		<li><a href="https://github.com/nickmiller-iit">github.com/nickmiller-iit</a></li>
				</ul>
			</footer>
		</body>
	</html>
